@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Inter';
    background: rgb(245, 245, 245);
}

/* === HEADER - START === */

/* Navigation - Start */

header {
    height: 100vh;
    background: linear-gradient(264.47deg, #2E43F0 29.39%, #6677FF 93.49%);
    padding-top: 60px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: center;
}

.header__link {
    color: white;
    opacity: 0.7;
    transition: .2s linear;
}

.header__link:hover {
    opacity: 1;
    transition: .2s linear;
}

.header__list li {
    margin-right: 30px;
}

.header__content-btn {
    width: 172px;
    height: 62px;
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    border: none;
    background: #FF5A05;
    border-radius: 4px;
    cursor: pointer;
}

/* Navigation - End */

/* Technology - Start */

.technology {
    margin-top: 80px;
}

.technology__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology__info-theme {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.technology__info-title {
    width: 440px;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
}

.technology__info-line {
    width: 365px;
    height: 1px;
    background: white;
}

.technology__info-text {
    width: 420px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 45px;
}

.technology__info-btn {
    width: 172px;
    height: 62px;
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #FF5A05;
    transition: .2s linear;
}

.technology__info-btn:hover {
    background: transparent;
    border: 1px solid white;
    transition: .2s linear;
}

/* Technology - End */

/* === HEADER - END === */

/* === MAIN - START === */

/* Sponsors - Start */

.sponsors {
    margin-top: 120px;
}

.sponsors__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sponsors__content img {
    background: white;
    box-shadow: 1px 4px 12px 0px #00000014;
    padding: 17px 48px;
}

/* Sponsors - End */

/* Simple - Start */

.simple {
    margin-top: 120px;
}

.simple__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.simple__img img {
    width: 600px;
}

.simple__info-theme {
    color: #FF5A05;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.simple__info-title {
    color: #05000B;
    font-size: 49px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 25px;
}

.simple__info-text {
    color: #05000B;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
}

.simple__info-analysis {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.simple__info-analysis h3:nth-of-type(1) {
    margin-right: 35px;
}

.simple__info-analysis h3 i {
    margin-right: 15px;
}

.simple__info-btn {
    width: 169px;
    height: 62px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    background: #FF5A05;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Simple - End */

/* Clients - Start */

.clients{
    background-image: url(../img/clients__bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients__block {
    width: 261px;
    height: 371px;
    background: white;
    box-shadow: 10px 15px 25px 0px #0000000A;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 50% 100%, 0 70%);
}

.clients__info{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients__block-number{
    color: #1F37FF;
    font-size: 55px;
    font-weight: 700;
}

.clients__block-title{
    color: #05000B;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

/* Clients - End */

/* Future - Start */

.future{
    background: #FFF9F5;
    padding-top: 85px;
    padding-bottom: 75px;
    margin-top: 180px;
}

.future__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.future__info{
    width: 358px;
    height: 265px;
    background: transparent;
}

.future__info-theme{
    color: #FF5A05;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.future__info-title{
    color: #05000B;
    font-size: 31px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
}

.future__info-text{
    color: #05000B;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
}

.future__block{
    width: 358px;
    height: 265px;
    background: white;
    border: 2px solid #4252CF1A;
    border-radius: 10px;
    padding: 35px;
    transition: .2s linear;
}

.future__block:hover{
    background: #4252CF;
    transition: .2s linear;
}

.future__block-icon{
    font-size: 55px;
    transition: .2s linear;
}

.future__block:hover .future__block-icon{
    color: white;
    transition: .2s linear;
}

.future__block-title{
    color: #05000B;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: .2s linear;
}

.future__block:hover .future__block-title{
    color: white;
    transition: .2s linear;
}

.future__block-text{
    color: #05000B;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
    transition: .2s linear;
}

.future__block:hover .future__block-text{
    color: white;
    transition: .2s linear;
}

/* Future - End */


/* Review - Start */

.review{
    padding-top: 100px;
}

.review__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review__title-title{
    color: #05000B;
    font-size: 49px;
    font-weight: 700;
}

.review__title-text{
    width: 494px;
    color: #05000B;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: 25px;
}

.review__content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
}

.review__content-title{
    color: #05000B;
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 75px;
}

.review__block{
    width: 655px;
    height: 236px;
    background: white;
    box-shadow: 13px 13px 31px 0px #0000000D;
}

.review__block-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.review__block-name{
    width: 373px;
    height: 129px;
    background: white;
    box-shadow: 13px 13px 31px 0px #0000000D;
    padding: 30px;
    margin-top: -30px;
    margin-right: 50px;
}

.review__block-name-title{
    color: #05000B;
    font-size: 25px;
    font-weight: 600;
}

.review__block-name-text{
    color: #05000B;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
}

.review__block-text{
    color: #05000B;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}

.review__img{
    width: 500px;
    height: 500px;
    position: relative;
    margin-left: -30px;
    z-index: -1;
}

.review__img img{
    position: absolute;
}

.review__img img:nth-of-type(2){
    right: 0;
}

/* Review - End */

/* Choose - Start */

.choose{
    height: 500px;
    background: rgba(235, 237, 255, 1);
    margin-top: 120px;
    padding-top: 65px;
}

.choose__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose__title-title{
    width: 450px;
    text-align: center;
}

.choose__title-block{
    background: white;
    border-radius: 10px;
    padding: 25px 15px;
    margin-top: 25px;
}

.choose__title-btn{
    width: 148px;
    height: 56px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
    background: rgba(255, 90, 5, 1);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .2s linear;
}

.choose__title-btn:nth-of-type(1){
    margin-right: 30px;
}

.choose__title-btn:hover{
    color: rgba(255, 90, 5, 1);
    background: rgba(255, 90, 5, 0.1);
    transition: .2s linear;
}

.choose__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -210px;
}

.choose__block{
    width: 455px;
    height: 670px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(31, 55, 255, 0.1);
    border-radius: 10px;
}

.choose__block-img{
    position: relative;
    height: 100px;
}

.choose__block-img img{
    position: absolute;
    right: 28%;
}

.choose__block-img img:nth-of-type(2){
    top: 10px;
    right: 45%;
}

.choose__block-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose__block-title{
    color: rgba(5, 0, 11, 1);
    font-size: 31px;
    font-weight: 600;
}

.choose__block-price{
    color: rgba(31, 55, 255, 1);
    font-size: 96px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.choose__block-text{
    color: rgba(5, 0, 11, 1);
    font-size: 20px;
    font-weight: 400;
}

.choose__block-list{
    margin-top: 20px;
    margin-bottom: 60px;
}

.choose__block-list li{
    color: rgba(5, 0, 11, 1);
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.choose__block-list li i{
    color: rgba(31, 55, 255, 1);
    font-size: 20px;
    margin-right: 15px;
}

.choose__block-btn{
    width: 335px;
    height: 58px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter';
    background: rgba(255, 90, 5, 1);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Choose - End */

/* Newsletter - Start */

.newsletter__content{
    width: 100%;
    background: rgba(253, 238, 231, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-top: 120px;
    position: relative;
    z-index: 1;
}

.newsletter__content-img{
    position: absolute;
}

.newsletter__content-img:nth-of-type(1){
    top: -30px;
    z-index: -1;
}

.newsletter__content-img:nth-of-type(2){
    top: -60px;
    z-index: -2;
}

.newsletter__content-title{
    color: rgba(255, 90, 5, 1);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
}

.newsletter__content-text{
    width: 620px;
    text-align: center;
    color: rgba(5, 0, 11, 1);
    font-size: 39px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 35px;
}

.newsletter__content-input input{
    width: 562px;
    height: 77px;
    color: rgba(166, 166, 166, 1);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(5, 0, 11, 0.1);
    outline: none;
    background: transparent;
    border-radius: 4px;
    padding: 20px;
}

.newsletter__content-input button{
    width: 184px;
    height: 53px;
    background: rgba(255, 90, 5, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -200px;
}

/* Newsletter - End */

/* === MAIN - END === */